//ユーティリティクラス
//	use: 出力するかどうか
//	start: カウントの始まり
//	end: カウントの終わり
//	interval: 間隔
//	unit: 1カウントあたりの単位（単位まで入れる）
//	media: ブレイクポイントごとに出力するかどうか

$u-margin: (
	use: true,
	start: 0,
	end: 100,
	interval: 5,
	unit: 0.1rem,
	media: false
);

$u-n-margin: (
	use: true,
	start: 0,
	end: 100,
	interval: 10,
	unit: -0.1rem,
	media: false
);

$u-padding: (
	use: false,
	start: 0,
	end: 200,
	interval: 10,
	unit: 0.1rem,
	media: true
);

$u-width: (
	use: true,
	start: 5,
	end: 100,
	interval: 5,
	unit: 1%,
	media: true
);

$u-fontSize: (
	use: true,
	start: 10,
	end: 60,
	interval: 1,
	unit: 0.1rem,
	media: true
);

$u-fontWeight: (
	use: true,
	start: 1,
	end: 9,
	interval: 1,
	unit: 100,
	media: true
);

$u-lineHeight: (
	use: true,
	start: 0,
	end: 20,
	interval: 1,
	unit: 0.1,
	media: true
);

$u-letterSpace: (
	use: false,
	start: -10,
	end: 10,
	interval: 1,
	unit: 0.1,
	media: false
);

//カラー
$colorSet: (
);

//ブレイクポイント
$breakpoints: (
	"sp": "(max-width: 600px) ",
	"tab": "(max-width: 1000px)",
	"pc": "not all and (max-width: 1000px)"
) !default;